.cardd {
    background-color: white !important;
    border-width: 0px !important;
    height: 344px !important;
    max-width: 100%;
    border-radius: 25px !important;
}

.img {
    background-color: gainsboro;
    height: 344px !important;
    border-radius: 25px !important;

}

.tengah {
    margin-top: 10% !important;
    margin-bottom: 10% !important;
}

.text1 {
    margin-top: 250px !important;
    margin-left: 40px;
}
.text2 {
    margin-left: 40px;
}

