.cardd {
    background-color: grey !important;
    border-width: 0px !important;
    height: 344px !important;
    width: 100%;
    
}

.img {
    background-color: gainsboro;
    border-radius: 30px;
    height: 344px !important;
    border-radius: 52px !important;

}

.tengah {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}

.text1 {
    color: white;
    margin-top: 250px !important;
    margin-left: 40px;
}
.text2 {
    color: white;
    margin-left: 40px;

}

